/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v27/Pby6FmXiEBPT4ITbgNA5CgmOsn7u.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v27/Pby7FmXiEBPT4ITbgNA5CgmOelzI7g.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v27/PbykFmXiEBPT4ITbgNA5Cgm20A.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v27/Pby7FmXiEBPT4ITbgNA5CgmOIl3I7g.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v27/Pby7FmXiEBPT4ITbgNA5CgmOalvI7g.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v27/Pby7FmXiEBPT4ITbgNA5CgmOUlnI7g.otf) format('opentype');
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: auto;
  color: white;
  background: linear-gradient(#111112, #2a292a) fixed;
}
.dialogue.alert {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.alert > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.alert > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.alert > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.alert > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.alert > .button-container > button:active {
  background-color: #b19c76;
}
.dialogue.confirm {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.confirm > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.confirm > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.confirm > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.confirm > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.confirm > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.confirm > .button-container > button:active {
  background-color: #b19c76;
}
.dialogue.prompt {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
}
.dialogue.prompt > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 8px 0px;
}
.dialogue.prompt > p {
  padding: 8px 0px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.prompt > .input-container {
  margin-top: 8px;
  padding: 16px 0px;
}
.dialogue.prompt > .input-container > input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  border: 1px solid #e4e8eb;
  background-color: transparent;
  color: white;
}
.dialogue.prompt > .input-container > input:hover {
  border: 1px solid #e4e8eb;
}
.dialogue.prompt > .input-container > input:focus {
  border: 1px solid #e4e8eb;
}
.dialogue.prompt > .button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
.dialogue.prompt > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.prompt > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.prompt > .button-container > button:active {
  background-color: #b19c76;
}
.connect-wallet-popup {
  position: relative;
  max-width: 420px;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}
.connect-wallet-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.connect-wallet-popup > hr {
  border: 0;
  background-color: #CCC;
  height: 0.5px;
  margin: 0px 16px;
}
.connect-wallet-popup > p {
  line-height: 20px;
  padding: 16px;
  color: #CCC;
}
.connect-wallet-popup > .button-container {
  padding: 16px;
}
.connect-wallet-popup > .button-container > a {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
}
.connect-wallet-popup > .button-container > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: white;
}
.connect-wallet-popup > .button-container > a > img {
  margin-right: 10px;
}
.connect-wallet-popup > .button-container > .connect-kaikas-button {
  background-color: #6f6558;
  color: #ffffff;
}
.connect-wallet-popup > .button-container > .connect-klip-button {
  background-color: #fee500;
  color: #000000;
}
.connect-wallet-popup > .button-container > .cancel-button {
  border: 1px solid #ffffff;
}
.klip-qr-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.klip-qr-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.klip-qr-popup > .qr {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 16px 0;
  text-align: center;
}
.klip-qr-popup > p {
  margin-top: 16px;
  padding: 0 16px;
  color: white;
}
.klip-qr-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.klip-qr-popup > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.klip-qr-popup > .button-container > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.collapsible-item {
  padding: 0px 20px;
}
.collapsible-item > section > .collapsible {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  background: black;
  padding: 26px 8px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 2rem;
  border-top: 1px solid #2C2C2C;
  border-bottom: 1px solid #2C2C2C;
}
@media only screen and (max-width: 719px) {
  .collapsible-item > section > .collapsible {
    font-size: 16px;
  }
}
.collapsible-item > section > .active,
.collapsible-item > section .collapsible:hover {
  background-color: #00445a;
}
.collapsible-item > section > .content {
  text-align: left;
  padding: 26px 8px;
  display: none;
  overflow: hidden;
  font-size: 16px;
  line-height: 2rem;
  border-bottom: 1px solid #2C2C2C;
  box-sizing: border-box;
}
@media only screen and (max-width: 719px) {
  .collapsible-item > section > .content {
    font-size: 14px;
  }
}
.pc-menu > ul {
  display: flex;
}
.pc-menu > ul > li {
  position: relative;
}
.pc-menu > ul > li > a {
  cursor: pointer;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.pc-menu > ul > li > a:hover {
  background-color: rgba(177, 156, 118, 0.5);
  border-radius: 4px;
}
.pc-menu > ul > li > a:active {
  background-color: rgba(177, 156, 118, 0.7);
  border-radius: 4px;
}
.pc-menu > ul > li > ul {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100px;
  display: none;
  background-color: #222;
  padding: 10px 0;
}
.pc-menu > ul > li > ul > li > a {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px;
}
.pc-menu > ul > li > ul > li:hover {
  background-color: #b19c76;
}
.pc-menu > ul > li > ul > li:active {
  color: #b19c76;
}
.pc-menu > ul > li:hover > ul {
  display: block;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 12px 5px;
  font-size: 0.825rem;
}
.mobile-menu > ul > li > a:hover {
  color: #b19c76;
}
.mobile-menu > ul > li > a:active {
  color: #b19c76;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.mobile-menu > ul > li > ul > li > a:hover {
  color: #b19c76;
}
.mobile-menu > ul > li > ul > li > a:active {
  color: #b19c76;
}
.mobile-menu > ul > li > ul > li.parent {
  display: none;
}
.mobile-menu > .user-menu {
  margin: auto;
  margin-top: 16px;
}
.user-menu > .connect-wallet,
.user-menu .wallet-address {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 16px;
  color: #b19c76;
  border: 1px solid #b19c76;
  border-radius: 2px;
}
.user-menu > .connect-wallet:hover,
.user-menu .wallet-address:hover {
  background-color: rgba(177, 156, 118, 0.2);
}
.user-menu > .wallet-address {
  position: relative;
  cursor: pointer;
}
.user-menu > .wallet-address > ul {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100px;
  display: none;
  padding: 10px 0;
}
.user-menu > .wallet-address > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.user-menu > .wallet-address > ul > li > a:hover {
  color: #b19c76;
}
.user-menu > .wallet-address > ul > li > a:active {
  color: #b19c76;
}
.user-menu > .wallet-address:hover > ul {
  display: block;
}
.user-menu > ul {
  margin-top: 10px;
  margin-left: 10px;
}
.user-menu > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.user-menu > ul > li > a:hover {
  color: #b19c76;
}
.user-menu > ul > li > a:active {
  color: #b19c76;
}
.bottom-nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #333;
}
.bottom-nav > nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}
.bottom-nav > nav > a > img {
  height: 48px;
}
.bottom-nav > nav > a > .profile {
  border-radius: 50%;
}
.bottom-nav > nav > .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: #ff0000;
  background: linear-gradient(90deg, #ff0000 0%, #ffa000 100%);
  border-radius: 50%;
}
.bottom-nav > nav > .menu > img {
  height: 40px;
}
.layout > header {
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout > header > .logo {
  height: 50px;
}
.layout > header > img {
  height: 30px;
}
.layout > main {
  padding: 8px 32px;
}
.layout > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.home-view > .hello {
  color: #b19c76;
  font-weight: 300;
  font-size: 20px;
}
.home-view > section {
  margin-top: 64px;
  overflow-x: auto;
}
.home-view > section > h6 {
  font-size: 32px;
}
.home-view > section > .nft-item {
  margin-top: 16px;
}
.home-view > section > .nft-item > img {
  height: 256px;
  border-radius: 32px;
}
.home-view > section > .nft-item > .id {
  margin-top: 16px;
  font-size: 24px;
}
.home-view > section > .nft-item > .name {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 200;
  color: #b19c76;
}
.home-view > section > .inventory-title {
  margin-bottom: 32px;
}
.home-view > section > .inventory-item {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 16px;
  background-color: #353539;
  border-radius: 16px;
}
.home-view > section > .inventory-item > img {
  height: 96px;
}
.home-view > section > .inventory-item > .content {
  width: 100%;
  margin-left: 32px;
}
.home-view > section > .inventory-item > .content > .name {
  font-size: 24px;
}
.home-view > section > .inventory-item > .content > .from {
  margin-top: 4px;
  color: #6c6f78;
  font-weight: 300;
}
.home-view > section > .inventory-item > .content > .amount-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.home-view > section > .inventory-item > .content > .amount-container > .amount {
  font-size: 30px;
}
.home-view > section > .inventory-item > .content > .amount-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8bc2b;
  color: #000;
  border-radius: 16px;
  min-width: 100px;
  padding: 8px;
}

